NODE_ENV=development
HOST=127.0.0.1
PORT=3001
LOG_LEVEL=info
DATABASE_URL="postgresql://vestora:vestora@127.0.0.1:5433/vestora?schema=public"
POSTGRES_USER=vestora
POSTGRES_PASSWORD=vestora
POSTGRES_DB=vestora
POSTGRES_PORT=5433

SEPOLIA_CHAIN_ID=11155111
SEPOLIA_RPC_URL="https://ethereum-sepolia-rpc.publicnode.com"
RECEIVABLE_STREAM_ADDRESS="0x92BA9C82c417a0F2805a0227cB16dead1865a202"
RECEIVABLE_MARKETPLACE_ADDRESS="0x8a01A13FbEBF6f974F8956558065e70017156579"
INDEXER_SYNC_ID="sepolia"
INDEXER_START_BLOCK=11831436
INDEXER_BATCH_SIZE=2000
INDEXER_CONFIRMATIONS=2
INDEXER_POLL_INTERVAL_MS=15000
